
#btnMainPlay {
    -fx-font-size: 50;
    -fx-font-weight: bold;
}
#btnMainManualSetup, #selectDeviceMain {
    -fx-font-size: 24;
    -fx-min-width: 300;
}

.label-options {
    -fx-background-color: #FFFA;
    -fx-max-width: infinity;
    -fx-padding: 10;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.button-options, .button-options * {
    -fx-max-height: infinity;
}
.button-options {
    -fx-background-color: #FFFD;
}
.button-options * {
    -fx-background-color: transparent;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}
.button-options *:focused {
    -fx-border-color: red;
    -fx-border-width: 4;
}
.button-options *:selected {
    -fx-background-color: rgba(34, 184, 34, 0.67);
}

.nav-bar-button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

HBox > VBox > TextField {
    -fx-padding: 10;
    -fx-font-size: 24;
}

.x01-container {
    -fx-background-color: #FFFA;
    -fx-border-color: #F00;
    -fx-border-width: 1;
    -fx-padding: 6;
}

#x01RoundContainer {
    -fx-border-radius: 30 0 0 0;
    -fx-background-radius: 30 0 0 0;
}


#x01ShotsContainer {
    -fx-border-radius: 0 0 0 30;
    -fx-background-radius: 0 0 0 30;
}

#x01ShotsContainer > Text, #x01ShotsContainer > HBox > Text {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.gamer-name {
    -fx-padding: 10 0;
}