.label-options {
    -fx-background-color: #FFFA;
    -fx-max-width: infinity;
    -fx-padding: 10;
    -fx-font-size: 16;
}

.button-options, .button-options * {
    -fx-max-height: infinity;
}
.button-options {
    -fx-background-color: #FFFD;
}
.button-options * {
    -fx-background-color: transparent;
    -fx-font-size: 16;
}
.button-options *:selected {
    -fx-background-color: rgba(34, 184, 34, 0.67);
}